#map {
    height: 500px;
}

.custom-marker {
    width: 3px;
    height: 3px;
    background-color: violet;
    border-radius: 50%;
}

#bus-stops-list {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 20px;
}

.bus-stop-item {
    margin-bottom: 10px;
}
